.boxContainer {
/* height: 537px;
background: #FFFFFF;
box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
border-radius: 20px; */
/* height: 600px; */

}

.logo{

position: absolute;
width: 347px;
height: 97px;
left: calc(50% - 347px/2 - 0.5px);
top: 91px;
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 71.1333px;
line-height: 97px;
/* identical to box height */
display: flex;
align-items: center;
text-transform: uppercase;

/* White */
color: #FFFFFF;


}
